/* Reset CSS */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Styling header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Styling konten */
.content {
    padding: 0%;
    padding-top: 20%;
    padding-left: 10%;
}

.content p{
    color: black;
}

.galery{
    margin: 100px;
}
.foto{
    width: 250px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    margin: 0px;
    align-items: center;
    grid-gap: 30px;
}
img{
    object-fit: cover;
}

/* Styling footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}



body.dark-mode .content p{
    color: #fff;
}

/* Light Mode Styles */
body.light-mode {
    background-color: #ffffff;
    color: #121212;
}

/* Contoh styling header */
header {
    padding: 20px;
}